@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: 'LeksaSans';
  src: url("fonts/LeksaSans-Bold.eot");
  src: local("☺"), url("fonts/LeksaSans-Bold.woff") format("woff"), url("fonts/LeksaSans-Bold.ttf") format("truetype"), url("fonts/LeksaSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: bold;
}

body {
  margin: 0;
  font-family: 'LeksaSans';
  background: url(img/shop/shop-bg.svg), #16151F;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.shop {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__tabs-container {
  width: 980px;
  height: 54px;
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 20;
}

@media (max-width: 1050px) {
  .shop__tabs-container {
    margin: 0 0 10px 0;
    width: 100%;
  }
}

.shop__tab {
  width: 188px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0px 0px;
  background: #212031;
  cursor: pointer;
}

.shop__tab:hover {
  background-color: #262537;
}

.shop__tab:hover .shop__tab-text {
  color: white;
}

.shop__tab:hover .shop__tab-underline-1 {
  display: inline;
}

@media (max-width: 1050px) {
  .shop__tab {
    width: 100%;
    border-radius: 0;
  }
}

.shop__tab-text-container {
  width: 100%;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.shop__tab-text {
  margin: 0 5px;
  font-size: 20px;
  color: rgba(151, 148, 198, 0.5);
}

@media (max-width: 767.98px) {
  .shop__tab-text {
    font-size: 14px;
  }
}

.shop__tab-underline-1 {
  display: none;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 44, 191, 0.2)), to(rgba(255, 124, 70, 0.2)));
  background: linear-gradient(90deg, rgba(245, 44, 191, 0.2) 0%, rgba(255, 124, 70, 0.2) 100%);
}

.shop__tab-underline-2 {
  width: 78.7234%;
  height: 100%;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(#f52cbf), to(#ff7c46));
  background: linear-gradient(90deg, #f52cbf 0%, #ff7c46 100%);
}

.shop__shopping-area-container {
  width: 980px;
  height: calc(100vh - 204px);
  background: #242333;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
}

.shop__shopping-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #242333), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, #242333 50%, transparent 100%);
  /* ideally need to be removed when scrolled to the end */
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #242333), to(transparent));
  mask-image: linear-gradient(to bottom, #242333 50%, transparent 100%);
  overflow-y: scroll;
}

.shop__shopping-area::-webkit-scrollbar {
  display: none;
}

.shop__section {
  width: 100%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(151, 148, 198, 0.1);
}

.shop__section_border-top_off {
  border-top: 0px;
}

.shop__title {
  margin: 24px 0;
}

.shop__items-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (217px)[4];
      grid-template-columns: repeat(4, 217px);
  -ms-grid-rows: (299px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 299px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.shop__item {
  position: relative;
  width: 217px;
  height: 299px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/shop/shop-item-bg.svg);
  background-position: center top -8px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.shop__item-icon {
  width: 120px;
  height: 120px;
}

.shop__item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.shop__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__item-value {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 700;
}

.shop__item-text {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
}

.shop__item-bonus-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 78px;
  background: url(img/shop/bonus-ribbon.svg);
  background-size: cover;
}

.shop__item-bonus-ribbon_hidden {
  display: none;
}

.shop__item-bonus-info {
  position: absolute;
  top: 20px;
  left: 3px;
  width: 51px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-42.41deg);
          transform: rotate(-42.41deg);
}

.shop__item-bonus-value {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
}

@media (min-height: 1750px) {
  .shop__shopping-area-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 1050px) {
  .shop__shopping-area-container {
    width: calc(100% - 80px);
    border-radius: 10px 10px 10px 10px;
  }
  .shop__items-container {
    -ms-grid-columns: (217px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 217px);
  }
}

@media (max-width: 767.98px) {
  .shop__shopping-area-container {
    height: calc(100vh - 164px);
  }
  .shop__items-container {
    -ms-grid-columns: (124px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 124px);
    -ms-grid-rows: (171px)[auto-fill];
        grid-template-rows: repeat(auto-fill, 171px);
  }
  .shop__item {
    width: 124px;
    height: 171px;
    background: url(img/shop/shop-item-bg-small.svg);
    background-position: top -8px left -18px;
  }
  .shop__item-icon {
    width: 60px;
    height: 60px;
  }
  .shop__item-value {
    font-size: 20px;
  }
  .shop__item-text {
    font-size: 11px;
  }
  .shop__item-bonus-ribbon {
    width: 70px;
    height: 66px;
  }
  .shop__item-bonus-info {
    top: 13px;
    left: 0;
  }
}

@media (max-width: 479.98px) {
  .shop__title {
    display: none;
  }
  .shop__items-container {
    padding: 10px 10px 0;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}

.header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/shop/header-bg.svg), #16151F;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.header__body {
  width: 94.14348%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__credits-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header {
    height: 50px;
  }
  .header__credits-container {
    width: 218px;
  }
}

.nav-button {
  width: 139px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.nav-button:hover {
  margin-top: 5px;
}

.nav-button_back-bg {
  background: url(img/nav-button/back-bg.svg);
}

.nav-button_home-bg {
  background: url(img/nav-button/home-bg.svg);
}

.nav-button__block {
  width: 91px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-button__text {
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .nav-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav-button__block {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav-button_back-bg {
    background: none;
  }
  .nav-button_home-bg {
    background: none;
  }
  .nav-button__text {
    display: none;
  }
}

.credits-button {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.credits-button__block {
  width: 179px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: rgba(13, 11, 15, 0.5);
}

.credits-button__block:hover {
  background-color: rgba(64, 54, 73, 0.5);
}

.credits-button__item-icon {
  margin-left: -40px;
}

.credits-button__item-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.credits-button__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.credits-button__value {
  font-size: 18px;
}

.credits-button__text {
  margin-top: -4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #B9B7EA;
}

.credits-button__add-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 767.98px) {
  .credits-button__block {
    width: 90px;
    height: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .credits-button__item-icon {
    width: 30px;
    height: 30px;
    margin-left: -10px;
  }
  .credits-button__text-block {
    width: 40px;
    margin-left: 5px;
  }
  .credits-button__value {
    font-size: 13px;
  }
  .credits-button__text {
    display: none;
  }
  .credits-button__add-icon {
    width: 20px;
    height: 23px;
    margin-left: 10px;
  }
}

.title {
  font-size: 30px;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 22px;
  }
}

.item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 154.71px;
  height: 47px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 146px;
  background: -webkit-gradient(linear, left top, right top, from(#242333), to(#3C3B53)) padding-box, -webkit-gradient(linear, left top, right top, from(#682FBD), to(#CB4CBC)) border-box;
  background: linear-gradient(90deg, #242333 0%, #3C3B53 100%) padding-box, linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%) border-box;
  cursor: pointer;
}

.item-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#682FBD), to(#CB4CBC)) padding-box, -webkit-gradient(linear, left top, right top, from(#682FBD), to(#CB4CBC)) border-box;
  background: linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%) padding-box, linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%) border-box;
}

.item-button__block {
  width: 94.71px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-button__text {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
}

.item-button__price-block {
  width: 27.71px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-button__icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-button__value {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .item-button {
    width: 98px;
    height: 27px;
  }
  .item-button__block {
    width: 78px;
  }
  .item-button__text {
    font-size: 11px;
  }
  .item-button__price-block {
    width: 24px;
  }
  .item-button__value {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */