@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
	font-family: 'LeksaSans';
	src: url('fonts/LeksaSans-Bold.eot');
	src: local('☺'), url('fonts/LeksaSans-Bold.woff') format('woff'), url('fonts/LeksaSans-Bold.ttf') format('truetype'), url('fonts/LeksaSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: bold;
}

body{
    margin: 0;
    font-family: 'LeksaSans';
    background: url(img/shop/shop-bg.svg), #16151F;
    background-size: cover; /* contain */
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    
}

.shop {
    max-width: 1366px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__tabs-container {
        width: 980px;
        height: 54px;
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__tab {
        width: 188px;
        height: 54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
        background: #212031;

        &:hover{
            background-color: rgb(38, 37, 55);   
        }

        &:hover &-text{
            color: white;
        }

        &:hover &-underline-1{
            display: inline;
        }
    }

    &__tab-text-container {
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tab-text {
        font-size: 20px;
        color: rgba(151, 148, 198, 0.5);
    }

    &__tab-underline-1 {
        display: none;        
        width: 188px;
        height: 3px;
        background: linear-gradient(90deg, rgba(245, 44, 191, 0.2) 0%, rgba(255, 124, 70, 0.2) 100%);
    }

    &__tab-underline-2 {
        width: 148px;
        height: 100%;
        margin: auto;
        background: linear-gradient(90deg, rgb(245, 44, 191) 0%, rgb(255, 124, 70) 100%);
    }

    &__shopping-area {
        width: 980px;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #242333;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
        -webkit-mask-image: linear-gradient(to bottom, #242333 50%, transparent 100%); /* ideally need to be removed when scrolled to the end */
        mask-image: linear-gradient(to bottom, #242333 50%, transparent 100%);
    }

    &__title {
        /*width: 100%;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;*/
        margin: 24px 0;
    }

    &__items-container {
        width: 928px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(4, 217px); 
        grid-template-rows: repeat(auto-fill, 299px);
        justify-content: space-between;
        grid-row-gap: 20px;
        overflow-y: scroll;      
        
    }

    &__items-container::-webkit-scrollbar {
        display: none;
    }

    &__item {
        position: relative;
        width: 217px;
        height: 299px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url(img/shop/shop-item-bg.svg);
        background-position: center top -8px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    }

    &__item-icon {
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item-value {
        font-size: 30px;
        font-family: 'Roboto';
        font-weight: 700;
    }

    &__item-text {     
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
    }

    &__item-bonus-ribbon {
        position: absolute;
        top: 0;
        left: 0;
        width: 96px;
        height: 78px;
        background: url(img/shop/bonus-ribbon.svg);
    }

    &__item-bonus-info {
        position: absolute;
        top: 20px;
        left: 3px;
        width: 51px;
        height: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: rotate(-42.41deg);
    }

    &__item-bonus-icon {
    }

    &__item-bonus-value {
        font-size: 13px;
        font-family: 'Roboto';
        font-weight: 700;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
        
    }
}

.header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/shop/header-bg.svg), #16151F;

    &__body {
        width: 1286px;
        height: 100%;
        margin: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__credits-container {
        width: 455px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-button {
    width: 139px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    &:hover{
        background-color: rgba(64, 54, 73, 0.5);
    }
    
    &_back-bg {
        background: url(img/nav-button/back-bg.svg);        
    }

    &_home-bg {
        background: url(img/nav-button/home-bg.svg);
    }

    &__block{
        width: 91px;
        margin-left: -10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon {
    }

    &__text {
        font-size: 20px;
    }
}

.credits-button {
    width: 210px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__block {
        width: 179px;
        height: 44px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 100px;
        background-color: rgba(13, 11, 15, 0.5);   
        
        &:hover{
            background-color: rgba(64, 54, 73, 0.5);
        }
    }

    &__item-icon {
        margin-left: -40px;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
    }

    &__value {
        font-size: 18px;
    }

    &__text {
        /*display: none;*/
        margin-top: -4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: #B9B7EA;
    }

    &__add-icon {
    }
}

.title {
    font-size: 30px;
}

.item-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 154.71px;
    height: 47px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 146px;
    background: linear-gradient(90deg, #242333 0%, #3C3B53 100%) padding-box,
                linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%) border-box;             
                
    &__block {
        width: 94.71px;
        height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 700;
    }

    &__price-block {
        width: 27.71px;
        height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
    }

    &__value {
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 500;
    }
}
